body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #FFFFFF;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 18;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: left;
  color: #4d5ae5;
}

.main-header {
  background-color: #e7e9fc;
}
.web {
  color: #2e2f42;
}
