body{
  font-family: "Roboto", sans-serif;  
  
}

.logo{
    font-family: "Raleway", sans-serif;
font-size: 18;
font-weight: 700;
line-height: 21;
letter-spacing: 0.03em;
text-align: left;

}

.main-header{background-color: #E7E9FC
}
.web{
    color: #2E2F42;
}